.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.searchIngredients {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.searchBox {
  display: flex;
  flex-wrap: nowrap; 
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

#searchIngredients div {
  flex: 1;
}



#commonIngredients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.searchForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}


